*{
	position: static;
}
.cube{
	width: 100px;
	background: yellow;
	height: 100px;
}
.cube1{
	width: 100px;
	height: 100px;
	background: blue;
	margin: -20px 0 0 80px;
}
.cube2{
	width: 100px;
	height: 100px;
	background: green;
	margin: -20px 0 0 160px;
}
.squer{
	width: 400px;
	height: 150px;
	background: black;
	margin-top:50px; 
}
.squer1{
	width:100px;
	background: yellow;
	height: 100px;
	display: inline-block;
	float: left;
	margin-top: 20px;

}
.squer2{
	width: 100px;
	height: 100px;
	background: blue;
	display: inline-block;
	float: left;
	margin-top: 20px;
}
.squer3{
	width: 100px;
	height: 100px;
	background: green;
	display: inline-block;
	float: left;
	margin-top: 20px;
}
.med{
	width: 100px;
	height: 120px;
	background: black;
	margin-top: 20px;
}
@media only screen and (min-width: 700px) {
	.med{
		 border-radius: 50%;
	}
}
